
<div class="card-content">
    <div class="card-container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-3" *ngFor="let livre of livres">
          <!-- <div class="card h-100" [routerLink]="['detail-event/', event._id]"> -->
              <!-- <img [src]="event.photo" class="card-img-top h-50" alt=""> -->
              <div class="card-body">
                <h5 class="card-title">{{livre.titre}}</h5>
                <p class="card-text">
                  {{livre.description}}
                  
              </div>
            
                <p class="card-text float-right event-date">{{livre.auteur}}</p>
                <button class="btn btn-success">Visualiser</button>
                <button class="btn btn-danger">Telecharger</button>

              </div>
            </div>
        </div>
  </div>
   <!-- </div>  -->
  