<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

<div class="card">
    <h4 class="card-header">Registre</h4>
  <div class="card-body">
      <form  *ngIf="registreForm" [formGroup]="registreForm" (ngSubmit)="registre()" >
          <div class="form-group">
              <label for="firstName">Name</label>
              <input type="text" formControlName="firstName" class="form-control"[ngClass]="{'is-valid': submitted &&
              !registreForm.get('firstName')?.errors,'is-invalid': submitted && registreForm.get('firstName')?.errors}" />
          </div>
          <div class="invalid-feedback d-block " *ngIf=" submitted && registreForm.get('firstName')?.hasError('required')">
              FirstName is required
          </div>
          <div class="form-group">
              <label for="lastName">lastName</label>
              <input type="text" formControlName="companylastName" class="form-control"  [ngClass]="{'is-valid': submitted &&
              !registreForm.get('companylastName')?.errors,'is-invalid': submitted && registreForm.get('companylastName')?.errors}" />
          </div>
          <div class="invalid-feedback d-block" *ngIf=" submitted && registreForm.get('companylastName')?.hasError('required')">
              lastName is required
          </div>
          <div class="form-group">
              <label for="email">E-mail</label>
              <input type="text" formControlName="email" class="form-control"  [ngClass]="{'is-valid': submitted &&
              !registreForm.get('email')?.errors,'is-invalid': submitted && registreForm.get('email')?.errors}" />
          </div>
          <div class="invalid-feedback d-block" *ngIf=" submitted && registreForm.get('email')?.hasError('required')">
              E_mail is required
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{'is-valid': submitted &&
              !registreForm.get('password')?.errors,'is-invalid': submitted && registreForm.get('password')?.errors}" />
          </div>
          <div class="invalid-feedback d-block" *ngIf=" submitted && registreForm.get('password')?.hasError('required')">
              Password is required
          </div>
        
          <div class="form-group">
              <button  class="btn btn-primary" type="submit" >Register </button>
          </div>
          <p class="text-center text-muted mt-5 mb-0">Have already an account? <a [routerLink]="['/login']"            class="fw-bold text-body"><u>Login here</u></a></p>
      </form>
  </div></div>
